<%= render 'shared/errors', obj: @task %>
<div class='row'>
    <div class='col-xs-12'>
        <%= form_for(@task, :html => {class: "form-horizontal", role: "form"}) do |f| %>

    <div class="form-group">
        <div class="control-label col-sm-2">
            <%= f.label :description %>
        </div>
        <div class="col-sm-8">
            <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Task....." %>
        </div>
    </div>
     <div class="form-group">
        <div class="control-label col-sm-2">
            <label>Assign to: </label>
        </div>
        <div class="col-sm-8">
        <%= f.select :user_id, all_users.collect { |p| [ p.username, p.id] }, include_blank: true %>
        </div>

    </div>
    <% if params[:action] == 'new'%>
     <div class="form-group">
        <div class="control-label col-sm-2">
            <label>Deadline</label>
        </div>
        <div class="col-sm-8">
          <%= f.date_select :deadline, :start_year=>2016 %>
        </div>

    </div>
    <%  end %>
    <% if params[:action] == 'edit'%>
     <div class="form-group">
        <div class="control-label col-sm-2">
            <label>Status</label>
        </div>
        <div class="col-sm-8">
          <%= f.select :status, Task.statuses.keys,  include_blank: true %>
        </div>

    </div>
    <%  end %>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit class: 'btn btn-primary btn-lg' %>
        </div>
    </div>
    <% end %>
    <div class="col-xs-4 col-xs-offset-4">
        [ <%= link_to "Cancel request and return to Task listing", tasks_path %> ]
    </div>
    </div>
</div>
