

<div class="container bootstrap snippet">

  <div class="row">

    <ul class="notes">

      <% obj.each do |task| %>

      <li style="display: inline-block;">
        <div class=<%= if(task.id%2 == 0)
        'rotate-1'
        else
          'rotate-2'
        end %> >
          <span class= "pull-left btn btn-danger btn-xs">

          <%= task.deadline %>
          </span>
          <% if logged_in? && (current_user == task.user || current_user.admin?) %>

          <%= link_to  task_path(task), method: :delete,
                                                                      data: {confirm: "Are you sure you want to delete the article?"},
                                                                      class: "pull-right"  do %>
          <i class="glyphicon glyphicon-remove"></i>
          <% end %>
          <% end %>
          <p class="task-color"><%= link_to truncate(task.description, length: 26), task_path(task) %></p>
          <hr>
          <small>Assigned to: <strong><%= task.user.username if task.user%></strong>,
            <%= time_ago_in_words(task.created_at)%> ago,
            last updated: <strong><%= time_ago_in_words(task.updated_at)%> ago</strong></small>
          <hr>
          <small  class= "btn btn-<%= if task.status == 'created'
          'primary'
          elsif task.status == 'inprogress'
            'warning'
          elsif task.status == 'completed'
          'success'
          end %>
          pull-right pull-down"><%= task.status %></small>
        </div>
      </li>
      <% end %>
    </ul>

  </div>

</div>
