<div style="margin-top: 25px; padding:10px; border: none; background-color: rgba(255, 255, 255, 0.51);"class="panel panel-default panel-xs">
  <h4 style="margin-left: 50%"><strong>Description:</strong></h4>
  <hr>
  <div style="margin-left: 25%"class="panel-body"> <%= simple_format(@task.description) %>
  <div class="row">
    <div class= "article-actions">
    <% if logged_in? && (current_user == @task.user || current_user.admin?)%>
          <%= link_to "Edit the task", edit_task_path(@task), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete this task", task_path(@task), method: :delete,
                                                                    data: {confirm: "Are you sure you want to delete the task?"},
                                                                    class: "btn btn-xs btn-danger" %>
    <% end %>

    <%= link_to "View all tasks", tasks_path, class: "btn btn-xs btn-success" %>
  </div>
    <div style="padding: 2%" class=" col-md-offset-4 pull-right">
      Create by:
      <br>
      <strong><%= link_to @task.user.username, user_path(@task.user) %></strong>
    </div>
  </div>
  </div>
</div>
