<div class="task-new">
  <%= link_to new_task_path do %>
  <button type="button" class="btn btn-success  big">
  <i class="glyphicon glyphicon-plus-sign "></i>
  <p class="task-size">Create new task</p>
  </button>
  <% end %>

  <%= link_to user_path(@user) do %>
  <button type="button" class="btn btn-info  big">
  <i class="glyphicon glyphicon-list "></i>
  <p class="task-size">List of created tasks</p>
  </button>
  <% end %>


</div>
