<h1 style="margin-left:5%;" align="center">All members of team</h1>
<div align="center">
<%= will_paginate %>
<% @users.each do |user|%>

<div class="list-group">
  <li style="text-align: center;"class="list-group-item list-group-item-action">

    <%= link_to user.username.camelize , user_path(user), :style =>  " color: #0c0b0b;" %>
    <span style="margin-right: 50px;" class= " pull-right">
    <%= pluralize(user.tasks.count, "task") if user.tasks  %>
    </span>

  </li>


</div>



<%= will_paginate %>
<% end %>
</div>
