<h1 class="show-task">Welcome to <%= @user.username %>'s tasks</h1>
<div class="center">
  <%= will_paginate @user_tasks %>
</div>
<%= render 'tasks/task', obj: @user_tasks %>

<div class="center">
  <%= will_paginate @user_tasks %>
</div>
