@import "bootstrap-sprockets";
@import "bootstrap";// @import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">"

#logo {
  float: left;
  font-size: 1.7em;
  color: #040505;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #140254;
  text-decoration: none;
}

.task-metadetails {
  border-top: 1 px splid #eaeaea;
  margin-top: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}
.thumbnails {
  border: none;
}


.task-new {
  text-align: center;
  height: 60%;
  width: 60%;

  position: absolute;
  top: 30%;
  left: 20%;
  // display: inline-block;
    padding: 5px;
}

.big{
   margin: 0 5px 0 0;

  height: 60%;
  display: inline;
  width: 30%;
  border-radius: 4%;
  margin-right: 50px;
  margin-bottom: 50px !important;
}
.glyphicon-remove{
  font-size:10px;
  color: gray;
}
.glyphicon-plus-sign, .glyphicon-list  {
    font-size: 113px;
}

hr{
    margin-top: 5px;
    margin-bottom: 5px;
}
p{
    font-size: 100%;
    line-height: 48px;
    padding: 5px;
    margin-top: 20px;
    font-weight: bold;
}
ul.notes li {
  margin: 10px 40px 50px 0px;
  float: left;
}

ul.notes li, ul.tag-list li {
  list-style: none;
}

ul.notes li div  {

  top: 5px;
  right: 5px;
  font-size: 10px;
}
small {
  font-size: 10px;
}

div.rotate-1 {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  background-color: #23c6c8;
  color: #ffffff;
}

div.rotate-2 {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
  background-color: #e2e274;
  color: #ffffff;
}
.jumbotron {

   background: rgba(200, 54, 54, 0);
}
.center{
  text-align: center;
}
.show-task{
  color: rgba(0, 0, 0, 0.95);
}
.lazur-bg {
  background-color: #23c6c8;
  color: #ffffff;
}

.red-bg {
  background-color: #ed5565;
  color: #ffffff;
}

.navy-bg {
  background-color: #1ab394;
  color: #ffffff;
}

.yellow-bg {
  background-color: #f8ac59;
  color: #ffffff;
}

ul.notes li div {
  text-decoration: none;
  color: #000;
  display: block;
  height: 210px;
  width: 210px;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px #212121;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
}
