body {
  background-color: #fff;
  background-image: url("http://usersthink.com/wp-content/uploads/06-usersthink-stock-image.jpg");
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;

}
p{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 45px;
  margin-bottom: 0%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;



  &:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

// .field_with_errors {
//   padding: 2px;
//   background-color: red;
//   display: table;
// }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    // list-style: square;
  }
}
