<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Commutatus", root_path, class: "navbar-brand", id: "logo" %>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><%= link_to "To-do-lists", tasks_path %></li>
        <li><%= link_to "New Task", userhome_path %></li>
        <li><%= link_to "Users", users_path %></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <% if logged_in? %>
          <li><%= link_to 'Log out', logout_path, method: :delete %></li>
        <% else%>
        <li><%= link_to 'Login', login_path %></li>
        <li><%= link_to 'Sign up', signup_path %></li>
        <% end %>


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
